<style>
  .padding-left20 {
    padding-left: 20px;
    text-align: justify;
  }
  p {
    text-align: justify;
  }
  strong {
    font-weight: 550;
  }
  .title {
    font-weight: 600;
  }
</style>

<div class="container-fluid" style="margin: 40px 0">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div
        class="m-portlet m-portlet--bordered m-portlet--rounded  m-portlet--last"
      >
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <b>{{ 'links.terms_of_service_link' | translate }}</b>
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form>
            <p class="title">1. ACCEPTANCE OF TERMS</p>

            <p class="padding-left20">
              <strong
                >If you do not agree to all of the terms and conditions
                contained in the Terms of Use, do not access or use this
                Site.</strong
              >
            </p>

            <p class="padding-left20">
              <strong>1.1</strong> You agree to and are bound by the terms and
              conditions set forth below and in any modified or additional terms
              that The Black Box Digital Guild Inc. ("BlackBox") may publish
              from time to time (collectively, the "Terms of Use").
            </p>

            <p class="padding-left20">
              <strong>1.2</strong> Your access and use of the Site will be
              subject to the current version of the Terms of Use, rules and
              guidelines posted on the Site at the time of such use. BlackBox
              may change these Terms of Use from time to time. Your continued
              access to the site and use of the Site constitutes your acceptance
              of such changes. Please regularly check the "Terms of Use" link on
              the home page of BlackBox.com to view the current terms. If you
              breach any of the Terms of Use, your license to access or use this
              Site may be terminated.
            </p>

            <p class="padding-left20">
              <strong>1.3 FEES</strong> BlackBox charges a 15% commission plus a
              transaction fee (approximately 3%) on a “back end” basis.
              Therefore this commission will be calculated based on net sales
              for each month and the balance will be distributed “pro-rata” to
              members according to the percentage ownership of the content.
            </p>

            <p>&nbsp;</p>

            <p class="title">2. LIMITED LICENSE TO USERS</p>

            <p class="padding-left20">
              <strong>2.1</strong> All content on this Site, including but not
              limited to Footage and related metadata (collectively the
              "BlackBox Content"), as well as the selection and arrangement of
              the BlackBox Content, are protected by intellectual property laws
              and treaties. Any unauthorized use of any BlackBox Content
              violates this Terms of Use. Except as expressly provided herein or
              in a separate license agreement between you and BlackBox, BlackBox
              does not grant any express or implied permission to use the Site,
              the Site Services (as hereinafter defined), or any BlackBox
              Content. You agree not to copy, republish, frame, link to,
              download, transmit, modify, adapt, create derivative works based
              on, rent, lease, loan, sell, assign, distribute, display, perform,
              data mine, extract, license, sublicense or reverse engineer the
              Site or any BlackBox Content.
            </p>

            <p class="padding-left20">
              <strong>2.2</strong> Unless you enter into a license agreement
              with BlackBox you may not download, distribute, display and/or
              copy any BlackBox Content.
            </p>

            <p class="padding-left20">
              <strong>2.3</strong> You may not remove any watermarks or
              copyright notices contained in the BlackBox Content.
            </p>

            <p>&nbsp;</p>

            <p class="title">3. BLACKBOX TRADEMARKS</p>

            <p class="padding-left20">
              <strong>3.1</strong> For the purposes of these Terms of Use, the
              term, "Trademark(s)" means all common law or registered
              trademarks, logos, service marks, trade names, Internet domain
              names, or other indications of origin now or in the future used by
              BlackBox. The look and feel of the BlackBox website, including all
              page headers, custom graphics, button icons, and scripts, is the
              trade dress and/or trademark or service mark of BlackBox and may
              not be copied, imitated or used, in whole or in part, without the
              prior written consent of BlackBox.
            </p>

            <p class="padding-left20">
              <strong>3.2</strong> Nothing contained herein grants or shall be
              construed to grant you any rights to use any BlackBox Trademark,
              unless expressly conferred by these Terms of Use.
            </p>

            <p class="padding-left20">
              <strong>3.3</strong> You agree that you will not use BlackBox's
              Trademarks in any manner that might tarnish, disparage, or reflect
              adversely on such Trademarks or BlackBox.
            </p>

            <p class="padding-left20">
              <strong>3.4</strong> You agree that you will not contest or
              otherwise challenge (e.g., in any legal action or otherwise), or
              assist or encourage any other person or entity to contest or
              challenge, the validity of any of BlackBox Trademarks or the
              Trademark rights claimed by BlackBox.
            </p>

            <p class="padding-left20">
              <strong>3.5</strong> You agree that you will not use any BlackBox
              Trademark or any variant thereof including misspellings) as a
              domain name or as part of a domain name regardless of the
              top-level domain, or as a metatag, keyword, or any other type of
              programming code or data. You may not at any time, adopt or use,
              without BlackBox's prior written consent any word or mark which is
              similar to or likely to be confused with BlackBox's Trademarks.
            </p>

            <p class="padding-left20">
              <strong>3.6</strong> All other trademarks, product names, and
              company names or logos used or appearing on the BlackBox website
              are the property of their respective owners. Reference to any
              products, services, processes or other information, by trade name,
              trademark, manufacturer, supplier or otherwise does not constitute
              or imply endorsement, sponsorship or recommendation thereof by
              BlackBox, unless expressly so stated.
            </p>

            <p class="padding-left20">
              <strong>3.7</strong> You may not use a BlackBox trademark, logo,
              Image or other proprietary graphic of BlackBox to link to the
              BlackBox website without the prior written consent of BlackBox.
            </p>

            <p class="padding-left20">
              <strong>3.8</strong> You may not frame or hotlink to the BlackBox
              website or any Image without the prior written consent of
              BlackBox.
            </p>

            <p>&nbsp;</p>

            <p class="title">4. SITE SERVICES</p>

            <p>
              Various services are made available to you, pursuant to your use
              of the Site and BlackBox Content licensed thereon (the “Site
              Services”). Subject to your compliance with these Terms of Use,
              any applicable license agreement with BlackBox, and the law, you
              may access and use the Site Services. BlackBox remains the sole
              owner of all right, title, and interest in the Site Services and
              reserves all rights not expressly granted under these Terms of
              Use. BlackBox may modify, replace, or discontinue any Site
              Services at any time, for any reason, with or without notice.
              BlackBox provides the Site Services on an "as is" and "as
              available" basis. BlackBox (or third parties acting on its behalf)
              may collect data related to your use of the Site Services.
            </p>

            <p>&nbsp;</p>

            <p class="title">5. YOUR CONTENT</p>

            <p class="padding-left20">
              <strong>5.1</strong> For any image, footage, text, audio, or any
              other content that you upload or post to the Site (“Your
              Content”), you represent and warrant that: (i) you have all
              necessary rights to submit Your Content to the Site Services and
              grant the licenses set forth herein; (ii) with respect to Your
              Content, BlackBox will not need to obtain licenses from any third
              party or pay royalties to any third parties that are not members
              of BlackBox; (iii) Your Content does not infringe any third
              party's rights, including intellectual property rights and privacy
              rights; and (iv) Your Content complies with these Terms of Use and
              all applicable laws.
            </p>

            <p class="padding-left20">
              <strong>5.2</strong> By uploading Your Content, you grant BlackBox
              a limited, worldwide, non-exclusive, royalty-free license and
              right to copy, transmit, distribute, market, publicly perform and
              display (through all media now known or hereafter created), and
              make derivative works from Your Content for the purpose of
              allowing you to edit and display Your Content using the Site
              Services and archiving or preserving Your Content for disputes,
              legal proceedings, or investigations. The above licenses will
              continue unless and until you remove Your Content from the Site,
              in which case the licenses will terminate within a commercially
              reasonable period of time. Notwithstanding the foregoing, the
              license for legal archival/preservation purposes will continue
              indefinitely.
            </p>

            <p class="padding-left20">
              <strong>5.3</strong> You may not upload, post, or transmit any
              video, image, text, audio recording, or other content that:
            </p>

            <ul style="padding-left: 60px;">
              <li>
                Infringes any third party's copyrights or other intellectual
                property rights or any right of publicity or privacy;
              </li>
              <li>
                Contains any pornographic, defamatory, or otherwise unlawful or
                immoral content;
              </li>
              <li>
                Does not conform with broadly accepted community standards;
              </li>
              <li>Exploits minors;</li>
              <li>Depicts unlawful or violent acts;</li>
              <li>Depicts animal cruelty or violence towards animals;</li>
              <li>
                Promotes fraudulent schemes or gives rise to a claim of
                deceptive advertising or unfair competition; or
              </li>
              <li>Violates any law, statute, or regulation.</li>
            </ul>

            <p class="padding-left20">
              <strong>5.4</strong>. Your Content, at your discretion and with
              your agreement, can be combined with content (covering both
              physical content or intellectual content) from other BlackBox
              members to create new derivative works (Jointly Created Content).
              By accepting Jointly Created Content you grant BlackBox a limited,
              worldwide, exclusive, royalty-free license and right to copy,
              transmit, distribute, market, publicly perform and display
              (through all media now known or hereafter created), and make
              derivative works from Jointly Created Content for the purpose of
              marketing and promoting Jointly Created Content using the Site
              Services and archiving or preserving Jointly Created Content for
              disputes, legal proceedings, or investigations. The above licenses
              will continue unless and until you receive agreement to, and
              remove, Jointly Created Content from the Site, in which case the
              licenses will terminate within a commercially reasonable period of
              time. Notwithstanding the foregoing, the license for legal
              archival/preservation purposes will continue indefinitely.
            </p>

            <p>&nbsp;</p>

            <p class="title">6. INFRINGEMENT CLAIMS / DMCA NOTICES</p>

            <p>
              If you believe that any Image or other material made available by
              BlackBox infringes upon any copyright that you own or control, you
              must notify BlackBox in the manner set forth in our Copyright
              Infringement Notice Policy.
            </p>

            <p>&nbsp;</p>

            <p class="title">7. LIMITATIONS</p>

            <p>You agree that you shall not:</p>

            <p>
              &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Engage in
              any conduct that shall constitute a violation of any law or that
              infringes the rights of BlackBox or any third party.
            </p>

            <p>
              &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Violate
              any applicable laws or regulations related to the access to or use
              of the Site, or engage in any activity prohibited by these Terms
              of Use.
            </p>

            <p>
              &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Violate
              the rights of BlackBox or any third party (including rights of
              privacy and publicity) or abuse, defame, harass, stalk or threaten
              another.
            </p>

            <p>&nbsp;</p>
            <p class="title">8. RESTRICTION AND TERMINATION OF USE</p>

            <p>
              BlackBox may block, restrict, disable, suspend or terminate your
              access to all or part of the Site, the Site Services, and/or
              BlackBox Content at any time at BlackBox's sole discretion,
              without prior notice or liability to you. Any conduct by you that,
              in BlackBox’s sole discretion, restricts or inhibits any other
              person or entity from using or enjoying the Site or the Site
              Services is strictly prohibited and may result in the termination
              of your access to the Site or the Site Services without further
              notice.
            </p>

            <p>&nbsp;</p>
            <p class="title">9. WARRANTIES AND DISCLAIMERS</p>

            <p>
              Your use of the Site and the Site Services are at your own risk.
              The Site and the Site Services, are provided by BlackBox under
              these terms of use "as is" without warranty of any kind, either
              express, implied, statutory or otherwise. BlackBox expressly
              disclaims any and all warranties of any kind, whether express or
              implied, to each and any Site Services made available at any time.
              Without limiting the foregoing, BlackBox makes no warranty that:
              (i) the Site will meet your requirements; (ii) access to the Site
              will be uninterrupted; (iii) the quality of the Site will meet
              your expectations; and (iv) any errors or defects in the site,
              services or materials will be corrected. BlackBox makes no
              representations or warranties that the Site Services will be
              permitted in your jurisdiction, that the Site Services or your use
              of the Site Services will be uninterrupted or error-free, that any
              of Your Content submitted by you will be available through the
              Site Services or will be stored by the Site Services, that the
              Site Services will meet your needs, or that BlackBox will continue
              to support any particular feature of the Site Services. To the
              extent any disclaimer or limitation of liability does not apply,
              all applicable express, implied, and statutory warranties will be
              limited in duration to a period of thirty (30) days after the date
              on which you first used the Site Services, and no warranties shall
              apply after such period.
            </p>

            <p>&nbsp;</p>
            <p class="title">10. PERSONAL INFORMATION AND PRIVACY</p>

            <p>
              BlackBox will use and protect your data, such as your name and
              address, in accordance with the BlackBox Privacy Statement, the
              contents of which are incorporated by reference into these Terms
              of Use.
            </p>

            <p>&nbsp;</p>
            <p class="title">11. INDEMNIFICATION</p>

            <p>
              You agree to defend, indemnify and hold harmless BlackBox, its
              subsidiaries, affiliates, licensors, employees, agents, third
              party information providers, Submitters and independent
              contractors against any claims, damages, costs, liabilities and
              expenses (including, but not limited to, reasonable attorneys'
              fees) arising out of or related to your conduct, your use or
              inability to use Site, the Site Services, your breach or alleged
              breach of the Website Terms of Use or of any representation or
              warranty contained herein, your unauthorized use of the BlackBox
              Content, or your violation of any rights of another.
            </p>

            <p>&nbsp;</p>

            <p class="title">12. GOVERNING LAW AND JURISDICTION</p>

            <p>
              These Terms of Use are governed by and shall be construed in
              accordance with the laws of the Province of Ontario, Canada. All
              actions, controversies and disputes arising from or relating to
              these Terms of Use shall be heard and decided exclusively before
              the courts located within the Province of Ontario and not
              elsewhere. You agree that service of process in any actions,
              controversies and disputes arising from or relating to these Terms
              of Use may be effected by mailing a copy thereof by registered or
              certified mail (or any substantially similar form of mail),
              postage prepaid, to the other party however, nothing herein shall
              affect the right to effect service of process in any other manner
              permitted by law. These Terms of Use shall be construed neither
              against nor in favor of any party, but rather in accordance with
              the fair meaning of the language hereof. The invalidity or
              unenforceability of any part of these Terms of Use shall not
              affect the validity or enforceability of the balance hereof.
            </p>

            <p>&nbsp;</p>

            <p><em>Last updated on May 11, 2016</em></p>

            <p>&nbsp;</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
