<style>
  .header {
    background-color: black;
    height: 60px;
    text-align: center;
    padding-top: 8px;
  }

  .footer {
    background-color: #eff1f3;
    height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding-top: 7px;
  }
</style>

<div style="display: flex; flex-direction: column; height: 100%;">
  <div class="header">
    <img src="../../assets/img/Logo_Footer.png" />
  </div>

  <div style="flex: auto;">
    <app-login></app-login>
  </div>

  <div class="footer">
    <span>© 2020 - BlackBox.Global</span>
  </div>
</div>
