<!-- Modal -->
<div
  class="modal fade"
  id="change-password-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'account.change_password' | translate }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-form" ngForm #change_password="ngForm">
          <div class="form-group m-form__group">
            <label for="inputCurrentPassword">
              <span class="required">{{ 'required_symbol' | translate }}</span>
              {{ 'account.current_password' | translate }}
            </label>
            <input
              type="password"
              class="form-control m-input"
              id="inputCurrentPassword"
              name="inputCurrentPassword"
              placeholder="Enter your current password"
              #currentPassword="ngModel"
              required
              [(ngModel)]="passwordModel.currentPassword"
            />
            <span
              class="m-form__help text-danger"
              *ngIf="
                currentPassword.invalid &&
                (currentPassword.dirty || currentPassword.touched)
              "
            >
              {{ 'required_desc' | translate }}
            </span>
          </div>

          <div class="form-group m-form__group">
            <label for="inputNewPassword">
              <span class="required">{{ 'required_symbol' | translate }}</span>
              {{ 'account.new_password' | translate }}
            </label>

            <input
              type="password"
              class="form-control m-input"
              id="inputNewPassword"
              name="inputNewPassword"
              placeholder="Enter your new password"
              #newPassword="ngModel"
              required
              [(ngModel)]="passwordModel.newPassword"
              required
              maxlength="255"
            />
            <span
              class="m-form__help"
              [ngClass]="{
                'text-danger':
                  !validatePassword() &&
                  (newPassword.dirty || newPassword.touched)
              }"
            >
              {{ 'password_validate' | translate }}
            </span>
            <span
              class="m-form__help text-danger"
              *ngIf="
                newPassword.invalid &&
                (newPassword.dirty || newPassword.touched)
              "
            >
              {{ 'required_desc' | translate }}
            </span>
          </div>

          <div class="form-group m-form__group">
            <label for="inputReNewPassword">
              <span class="required">{{ 'required_symbol' | translate }}</span>
              {{ 'account.re_new_password' | translate }}
            </label>
            <input
              type="password"
              class="form-control m-input"
              id="inputReNewPassword"
              name="inputReNewPassword"
              placeholder="Enter your confirm password"
              #reNewPassword="ngModel"
              required
              [(ngModel)]="passwordModel.reNewPassword"
              required
              maxlength="255"
              onpaste="return false;"
            />
            <span
              class="m-form__help text-danger"
              *ngIf="
                reNewPassword.invalid &&
                (reNewPassword.dirty || reNewPassword.touched)
              "
            >
              {{ 'required_desc' | translate }}
            </span>
            <span
              class="m-form__help text-danger"
              *ngIf="
                !validateConfirmPassword() &&
                (reNewPassword.dirty || reNewPassword.touched)
              "
            >
              {{ 'account.confirm_password_validate' | translate }}
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger m-btn m-btn--icon m-btn--pill btn-cancel"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          [disabled]="
            change_password.invalid ||
            !validatePassword() ||
            !validateConfirmPassword()
          "
          class="btn btn-success m-btn m-btn--icon m-btn--pill btn-save"
          (click)="onSave()"
          [disabled]="loading"
        >
          <span>
            <i *ngIf="!loading" class="fa fa-check"></i>
            <i *ngIf="loading" class="fa fa-spin fa-spinner"></i>
            <span>{{ 'common.save' | translate }}</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
