<style>
  .text p {
    text-align: justify;
  }
  /* .text {
    font-family: Helvetica, Arial, Tahoma, sans-serif;
} */
  .text ol li {
    font-weight: 700;
    margin: 0 0 10px -40px;
    padding: 0;
  }
  .sub {
    font-weight: 300;
  }
  ol.sub li {
    margin: 10px 0 10px -20px !important;
    font-weight: 500 !important;
    text-align: justify;
    line-height: 1.5;
  }
  ol {
    counter-reset: item;
  }
  li {
    display: block;
  }
  ol li:before {
    content: counters(item, '.') '. ';
    counter-increment: item;
  }
  .sub p {
    margin-left: 0px;
    line-height: 1.5;
  }

  .margin-left-40 {
    margin-left: 20px;
    line-height: 1.5;
  }
  ol p {
    margin-left: -20px;
  }
</style>

<div class="container-fluid" style="margin: 40px 0">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div
        class="m-portlet m-portlet--bordered m-portlet--rounded  m-portlet--last"
      >
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                <b>MEMBER RIGHTS AGREEMENT</b>
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form class="text">
            <p>
              This GENERAL RIGHTS AGREEMENT (the
              &ldquo;<strong>Agreement</strong>&rdquo;) spells out the rights
              and responsibilities of all parties named herein, being
              Originators, Sharers, Contractors (the
              &ldquo;<strong>Members</strong>&rdquo;), and The Black Box Digital
              Guild Inc. &ldquo;<strong>Black Box</strong>&rdquo; and together
              with the Members, the &ldquo;<strong>Parties</strong>&rdquo; or
              individual a Party), and as more specifically set out in Schedule
              &ldquo;A&rdquo; hereto, with respect to creation of digital media
              content (the &ldquo;<strong>Work</strong>&rdquo;), and any
              subsequent monetization of the Work.
            </p>

            <p>
              WHEREAS Black Box is a Canada Corporation located in Ottawa,
              Canada;
            </p>

            <p>
              AND WHEREAS Black Box has created a member only website (<a
                href="http://www.blackbox.global/"
                >www.blackbox.global</a
              >) (the &ldquo;<strong>Platform</strong>&rdquo;);
            </p>

            <p>
              AND WHEREAS the Work is comprised of any and all digital media
              content that has been uploaded by a Contributor to the Platform
              (stock clips, a set of stock clips, a feature film, a short film,
              animations, or any other digital media content being created as
              part of a collaborative or non-collaborative efforts of a
              Member(s)) and uploaded to or processed by the Platform.&nbsp;
            </p>

            <p>
              NOW THEREFORE, for good and valuable consideration, the receipt
              and sufficiency of which is hereby acknowledged, the Parties
              hereby agree as follows:
            </p>
            <ol>
              <li>Definitions:</li>

              <p>
                <strong>Work.</strong>&nbsp; The Work is a piece of intellectual
                property either completed or to be completed and that is the
                unique creation of Members.
              </p>

              <p>
                <strong>Copyright.</strong> Copyright shall have the legal
                meaning as defined by the <em>Copyright Act of Canada</em> and
                the <em>Copyright Modernization Act</em>, both as amended, and
                in the event material subject to copyright originates outside of
                Canada, as defined by the laws of the country of origin.
              </p>

              <p>
                <strong>Platform.</strong> The Platform is a private web site
                <a href="http://www.blackbox.global/">www.blackbox.global</a>
                for Members. The Platform is owned and operated by The Black Box
                Digital Guild Inc., a Corporation registered in Canada.
              </p>

              <p>
                <strong>Fractional Ownership</strong>. Members may be offered a
                &ldquo;share&rdquo; in the Work, in proportion to the deemed
                fair market value of their contribution, as specified in various
                processes and functions of the Platform. This is a fractional
                ownership share of copyright, and entails all rights of
                copyright ownership including right to pro-rata share of net
                revenues and assignability
              </p>

              <p>
                <strong>Share.</strong> The percentage of copyright ownership
                assigned to and agreed to between Members.
              </p>

              <p>
                <strong>Sharer. </strong>Any Member who has been offered or
                designated a Share in the Work will be considered to be a Sharer
                in that Work.
              </p>

              <p>
                <strong>Member. </strong>A Member is an Entity that has
                registered and been accepted as a member of the Platform.
              </p>

              <p>
                <strong>Originator. </strong>The Originator is a Member that
                initiates a Project on the Platform. There are no restrictions
                on the percentage of copyright that an Originator will own of
                any given piece of Work.
              </p>

              <p>
                <strong>Project. </strong>Any collaborative use of the Platform
                will be considered as a Project
              </p>

              <p>
                <strong>Entity.</strong>&nbsp; An Entity is a legally recognized
                individual or a legally constituted business - which could be a
                sole proprietorship, a business partnership, a corporation, or
                co-operative operating under the business rules of Canada, a
                Province, or a foreign jurisdiction.
              </p>

              <p>
                <strong>Contributor.</strong> Contributor means any Member
                providing money, goods, or services for incorporation in, or
                support for, the Work in exchange for a Share in the Work.
              </p>

              <p>
                <strong>Contractor.</strong>&nbsp; Contractor means any Entity
                that provides goods or services in support of the production or
                marketing of the Work in exchange for a fixed payment for the
                goods and services.&nbsp; A Contractor has no ongoing Share in
                the Work.
              </p>

              <p>
                <strong>Funder.</strong>&nbsp; Funder means any Entity providing
                a financial contribution to the Work.&nbsp; A Funder may have
                first call on proceeds derived from the marketing or selling of
                the Work, may have phased repayments, may have a Share, or may
                be otherwise compensated through recognition or product
                placement in accordance with the terms between the Funder and
                Member.
              </p>

              <p>
                <strong>Contribution.</strong> A Contribution is any part of the
                finished Work that is provided by a Contributor.&nbsp; A
                Contribution may consist of intellectual property owned by the
                Contributor, or created by the Contributor expressly for the
                purpose of the Work.
              </p>

              <p>
                <strong>Storefront: </strong>Any sales or marketing agent or
                external delivery system is considered to be a Storefront.
              </p>

              <p>
                <strong>Net Revenue.</strong> Net Revenue means the gross
                proceeds of the Work [minus the Service Fee].
              </p>

              <p>
                <strong>Service Fee: </strong>Service Fee means a flat 15% fee
                charged by the Platform to Members calculated on the revenue net
                of non-Platform Storefront commissions.
              </p>

              <li>
                The Platform:
                <br />
                <ol class="sub">
                  <li>
                    The Platform is a private website for Members that
                    facilitates:
                  </li>

                  <p>
                    (a) A Members collaboration in the creation of the Work;
                  </p>

                  <p>
                    (b) The processing of the Work and its distribution to
                    Storefronts;
                  </p>

                  <p>
                    (c) The collection of the Net Revenue from Storefronts; and
                  </p>

                  <p>
                    (d) The distribution of Net Revenue to Members based on
                    their Share in the Work.
                  </p>

                  <li>
                    The Platform will deduct and retain as a Service Fee equal
                    to fifteen (15%) percent of the gross revenue realized from
                    the Storefronts, net of any third party service fees or
                    expenses (ie. brokerage, marketing etc.).
                  </li>

                  <li>
                    It is recognized and agreed by each Member having a Share in
                    the Work that the title of the Work may be changed for
                    marketing purposes or other good and proper reasons, and
                    that any Share in the Work survives any such title change.
                  </li>

                  <li>
                    By clicking accept to this Agreement as part of the
                    registration to become a Member of the Platform, each Member
                    agrees to be bound by this Agreement. This Agreement, as
                    amended, shall be available for review at
                    <a href="http://www.blackbox.global/"
                      >www.blackbox.global</a
                    >
                    for review and each Member agrees and confirms that Black
                    Box can alter the terms and conditions without notice to the
                    Members.
                  </li>

                  <li>
                    It is recognized and agreed that all terms and conditions as
                    part of the Platform and Project operations must be
                    fulfilled before a Members Share may be recognized.
                  </li>

                  <li>
                    It is recognized and agreed that the timely performance of
                    obligations under the terms of a collaborative Project is
                    critical to successful completion of the Work.&nbsp;
                    Accordingly, the Platform reserves the right to intervene on
                    behalf of Members in order to adjudicate any issues or
                    disagreements or performance deficiencies by Members.
                  </li>
                </ol>
              </li>
              <li>
                Intellectual Property:
                <ol class="sub">
                  <li>
                    Copyright in the Work shall at all times be held by an
                    Entity who is a Party to this Agreement, and therefore is
                    subject to all terms and conditions contained herein, and
                    with Copyright with this General Rights Agreement and in
                    accordance with Copyright law and generally accepted
                    practice.&nbsp;
                  </li>

                  <li>
                    Nothing in this description of Copyright should be construed
                    as preventing or attempting to prevent &ldquo;fair
                    use&rdquo; of small portions of the Work or ancillary
                    materials resulting from creation of the Work by any Member
                    for personal, educational, or promotional purposes.&nbsp;
                  </li>
                </ol>
              </li>
              <li>Transfer or Assignment of Copyright</li>
              <p>
                In the event that Copyright of a Work is to transferred or
                assigned in accordance with this Agreement, either during the
                development of the Work or following completion of the Work, the
                following conditions will apply:
              </p>

              <p class="margin-left-40">
                a) such transfer must have the unanimous support of all Share
                Members in the Work at the time of the proposed transfer;
              </p>

              <p class="margin-left-40">
                b) the transfer terms must commit the new Member holding the
                Copyright to the terms and conditions of this Agreement, which
                interests survive the sale or assignment of Copyright in the
                Work;
              </p>

              <p class="margin-left-40">
                c) the transfer terms must commit the new Member holding the
                Copyright to the terms of all Project commitments for
                outstanding Work that has commenced prior to the transfer date,
                but might not be completed as of the transfer date, or negotiate
                a fair settlement acceptable of all Members holding Shares in
                the Work.
              </p>

              <li>Management of Share Interest Distribution</li>

              <p>
                Net Revenue will flow through and be controlled by the Platform
                and will be distributed to the Members holding Shares in the
                Work in accordance with their percentage of ownership. The
                following conditions apply:
              </p>

              <p class="margin-left-40">
                a) Net Revenue will be reported to those Members holding a Share
                in the Work not less frequently than the end of each calendar
                month and payments will be made no later than the twentieth
                (20<sup>th)</sup> day of the following month; and
              </p>

              <p class="margin-left-40">
                b) the distribution of the Net Revenue to the Members holding
                Shares will be subject to reporting and withholding amounts in
                accordance with the tax rules of the country of distribution
                and/or international tax treaties.
              </p>

              <li>
                Confidentiality
                <ol class="sub">
                  <li>
                    Confidential Information: Definition. &ldquo;<strong
                      >Confidential Information</strong
                    >&rdquo; means all non-public or proprietary information,
                    data, documents, agreements, files and other materials
                    regarding or concerning and treated as confidential by the
                    Parties, whether disclosed orally or disclosed, stored or
                    accessed in written, electronic or other form or media, and
                    whether or not marked, designated or otherwise identified as
                    &ldquo;confidential&rdquo; including all analyses, notes,
                    compilations, reports, forecasts, studies, samples,
                    statistics, summaries, interpretations and other documents
                    prepared by a Party which contain or otherwise reflect or
                    are generated from such information, data, documents,
                    agreements, files or other materials, including, without
                    limitation:
                  </li>

                  <p class="margin-left-40">
                    a) the information concerning a Party&#39;s past, present
                    and future business affairs including, without limitation,
                    finances, supplier information, services, products,
                    organizational structure and internal practices, forecasts,
                    sales and other financial results, records and budgets, and
                    business, marketing, development, sales and other commercial
                    strategies;
                  </p>

                  <p class="margin-left-40">
                    b) creations, ideas, methods and discoveries, trade secrets,
                    know-how, and other confidential intellectual property;
                  </p>

                  <p class="margin-left-40">
                    c) any third-party confidential information included with,
                    or incorporated into, any information provided by a Member
                    or Black Box including, without limitation, any personal
                    information; and
                  </p>

                  <p class="margin-left-40">
                    d) other information that would reasonably be considered
                    non-public, confidential or proprietary given the nature of
                    the information and the Party&rsquo;s business.
                  </p>

                  <li>
                    The term Confidential Information as used herein shall not
                    include information that, at the time of disclosure:
                  </li>

                  <p class="margin-left-40">
                    a) is, or thereafter becomes, generally available to and
                    known by the public other than as a result of its
                    disclosure, directly or indirectly;&nbsp;
                  </p>

                  <p class="margin-left-40">
                    b) is, or thereafter becomes, available to a Party on a
                    non-confidential basis from a third-party source, provided
                    that such source was not prohibited from disclosing such
                    Confidential Information to the receiving Party by a legal,
                    contractual or fiduciary obligation;
                  </p>

                  <p class="margin-left-40">
                    c) was already known by or in the possession of the
                    receiving Party prior to being disclosed by or on behalf of
                    the disclosing Party; or
                  </p>

                  <p class="margin-left-40">
                    d) has been independently developed by the receiving Party
                    without reference to or use of, in whole or in part, any of
                    the disclosing Party&#39;s Confidential Information.
                  </p>

                  <li>
                    Receiving Party&#39;s Obligations. Each Party acknowledges
                    and agrees that it may gain access to or become familiar
                    with another Party&rsquo;s Confidential Information. Each
                    receiving Party of Confidential Information shall:
                  </li>

                  <p class="margin-left-40">
                    a) keep the Confidential Information strictly confidential
                    and protect and safeguard the confidentiality of the
                    disclosing Party&#39;s Confidential Information with at
                    least the same degree of care as the receiving Party would
                    protect its own Confidential Information;
                  </p>

                  <p class="margin-left-40">
                    b) not use the disclosing Party&#39;s Confidential
                    Information, or permit it to be accessed or used, for any
                    purpose other than to perform its obligations under this
                    Agreement, or otherwise in any manner to the disclosing
                    Party&#39;s detriment;&nbsp;and
                  </p>

                  <li>
                    <u>Return of Confidential Information</u>. Upon the
                    expiration or termination of the Agreement, the receiving
                    Party shall promptly return to the disclosing Party all of
                    the disclosing Party&#39;s Confidential Information whether
                    in written, electronic or other form or media.
                  </li>
                </ol>
              </li>
              <li>Non-competition</li>

              <p>
                The Members attest and confirm that during the creation of any
                Work in which they own a Share, and for a period of one (1) year
                after completion of the Work, they will not engage, directly or
                indirectly, in any production or creation of any materials or
                projects outside of the boundaries of the Platform that could
                reasonably be considered to be competitive in terms of theme and
                genre to the Work.
              </p>

              <li>No Assignment</li>

              <p>
                The Members may not assign any of its rights under this
                Agreement without the prior written consent of Black Box. Any
                assignment or delegation in violation of this Section shall be
                null and void.
              </p>

              <li>
                Term and Termination
                <ol class="sub">
                  <li>
                    Term. The term of this Agreement (the
                    &ldquo;<strong>Term</strong>&rdquo;) commences on date on
                    which this Agreement is accepted by the Member and continues
                    thereafter in perpetuity, until sooner terminated as
                    provided in Section 9.2.
                  </li>

                  <li>
                    Termination. Each Party, in its sole discretion, may
                    terminate this Agreement:
                  </li>

                  <p class="margin-left-40">a) at any time, without cause</p>

                  <p class="margin-left-40">b)&nbsp;immediately, with cause.</p>

                  <li>
                    Each Party shall be owed any Net Revenue or Service Fees, as
                    applicable, up until the date of Termination.
                  </li>

                  <li>
                    Should a Member wish to Terminate this Agreement in
                    accordance with Section 9.2(a) and at the time of
                    Termination owns Shares in any Work, the Members owning
                    Shares in each Work shall have a first right of refusal to
                    purchase its <em>pro rata</em> proportion of the Share.
                    Should the Members of the Work decline its right to purchase
                    its <em>pro rata</em> amount of the selling Member&rsquo;s
                    Share, it may be sold to a third (3<sup>rd</sup>) party, who
                    must become a Member of the Platform before purchasing the
                    Share.
                  </li>
                </ol>
              </li>
              <li>Dispute Resolution</li>
              <p>
                All disputes arising out of or in connection with this
                Agreement, or in respect of any defined legal relationship
                associated therewith or derived therefrom, or related to the
                execution or performance of this Agreement shall be facilitated
                first by the Platform and second by a third party mediator, and
                if not resolved, then submitted to arbitration, pursuant to the
                Rules of The Canadian Foundation for Dispute Resolution (CFDR).
                These CFDR rules may be varied, modified or amended by written
                agreement of both parties.
              </p>

              <li>
                Waiver of Liability
                <ol class="sub">
                  <li>
                    Each Party hereby agrees to release the other Party from any
                    and all actions, causes of action, claims and demands for
                    damages, loss or injury, which may hereafter be sustained by
                    the releasing party and/or employees of the releasing party
                    while providing services at the other party&#39;s premises
                    or on location or otherwise as a consequence of the
                    performance of the duties called for under this Agreement,
                    save bodily injury or other damages caused by the fault or
                    negligence of the released party.
                  </li>

                  <li>
                    Each party certifies that all content material provided for
                    the Work shall be the property or creation of such party,
                    and free of any third party copyright claim, and agrees to
                    release the other party from any and all actions, causes of
                    action, claims and demands for damages resulting from third
                    party challenges of copyright to such content material.
                  </li>
                </ol>
              </li>

              <li>Entire Agreement</li>

              <p>
                This Agreement together sets forth the entire agreement between
                the Parties pertaining to the services to be provided, and no
                modification, variation or amendment of it shall be binding upon
                the parties unless it is in writing and signed by both
                Parties.&nbsp; The Parties acknowledge that there are no
                collateral agreements, representations, warranties,
                arrangements, understandings or otherwise, written or oral,
                pertaining to the subject matter of this Agreement.&nbsp; This
                Agreement may not be amended, modified or supplemented by the
                Parties in any manner, except by an instrument in writing signed
                by authorized representatives of each party hereto.&nbsp; All
                exhibits, appendices and annexes attached hereto are
                incorporated herein by reference and made a part hereof.
              </p>

              <li>Severability</li>

              <p>
                If any covenant or provision of this Agreement is determined to
                be void or unenforceable in whole or part, it shall not be
                deemed to affect or impair the validity of any other covenant or
                provision.
              </p>

              <li>Governing Law</li>

              <p>
                This Agreement shall be construed in accordance with the laws of
                the Province of Ontario and the laws of Canada applicable
                therein, without regard to its conflict of laws rules.&nbsp;
                Each of the parties hereto irrevocably attorns to the
                jurisdiction of the provincial and federal courts of the
                Province of Ontario, Canada.
              </p>

              <li>Notices</li>

              <p>
                Notices required to be given hereunder shall be in writing
                addressed to the Parties at the addresses set forth in the
                Platform and delivered (as elected by the party giving notice):
                (i) by postage prepaid registered or certified mail, return
                receipt requested; or (ii) by internationally recognized express
                courier.&nbsp; Notices shall be deemed to have been duly given
                on the date of receipt (or if delivery is refused, the date of
                such refusal).&nbsp; Any party may change its address for
                purposes hereof on not less than three (3) days&rsquo; prior
                written notice to the other party.
              </p>
            </ol>
            <br />
            <br />
            <div class="text-right" *ngIf="!acceptAgreement">
              <button
                class="btn btn-danger m-btn"
                type="button"
                [disabled]="isLoading"
                (click)="declineMemberAgreement()"
              >
                <span>
                  <i class="fa fa-close"></i>
                  <span>{{ 'common.decline_button' | translate }}</span>
                </span>
              </button>

              <button
                class="btn btn-success m-btn"
                type="button"
                [disabled]="isLoading"
                (click)="acceptMemberAgreement()"
                style="margin-left: 10px"
              >
                <span>
                  <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
                  <i class="fa fa-check" *ngIf="!isLoading"></i>
                  <span>{{ 'common.agree_button' | translate }}</span>
                </span>
              </button>
            </div>
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
